body{
    background:rgb(2, 2, 2);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    box-sizing: border-box;
  }

.navbar {
    width: 100%; 
    overflow: auto;    
  }
.navlink {
    float: left;
    text-align: center;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    
  }
  
.navlink:hover {
    background-color: #40534c;
  }
  
.active {
    background-color: #04AA6D;
    
  }


  /* media Content responsive */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .container-fluid{
        background-image: url("../images/main.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 100vh;
      }
    .flex-caption p{
        font-size: 10px;
    }
  }

.logoimg{
    list-style: none;
    float: right;
    padding: 20px;
  }
.mainimg{
    width: 100%;
    margin-top: 0;
    
  }
.container-fluid{
    padding: 50px;
    max-width: 100%;
    height: 100vh;
    background-image: url("../images/main.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
.flex-caption h3 {
    color: #fff;
    letter-spacing: 0px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 700;
    line-height: 1.1em;
  }
.flex-caption p {
    margin: 12px 0 18px;
    font-size: 2vw;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
  }

  /* button css */

  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
   
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.aligncenter{
    margin: auto;
    height: 100vh;
    
    color: #fff;
    text-align: center;
    
    /* background: rgba(2, 2, 2, 0.5); */
}
.aligncenterh2{
    padding: 20px;
    font-size: 3vw;
    font-family: "Audiowide", sans-serif;
}
.aligncenterp{
    color: #cecdcd;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: justify;
    font-size: 1.2vw;
}
.aligncenterp1{
    color: #cecdcd;
    font-family: "Audiowide", sans-serif;
    text-align: justify;
    font-size: larger;
    color: #04AA6D;
    font-size: 1.3vw;
}
.content{
    background-image: url('../images/main1.jpg');
    max-width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.column {
    float: left;
    width: 50%;
}


b{
    font-size: larger;
    color: #cecdcd;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}