<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MeFitt | About Us</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style_about.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="stylesheet" href="../static/css/footer.css"/>
</head>
<body>

  
  <div class="about-section">
    <div class="navbar">
      <a class="navlink" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a class="active navlink" href="about"><i class="fa fa-fw fa-search"></i> Know More</a>
      <a class="navlink" href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <a class="navlink" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      <li class="logoimg"><a class="logo" href="#"><img class="logo" src="../static/images/logo.png"></a></li>
    </div>
    <a href="#poffer" class="scroll-down" address="true"></a>
   
    
  </div>
  </div>

  <p id="poffer">Best Offers @ MeFitt</p>  
  <div class="flex-caption">
    <h3>Progression</h3>
    <p><b>Enjoy The Glow of Good Health</b></p> 
    
        
        
        
    
   
  </div>

  <div class="row" style="background-color:white;">
    <div class="column">
      <div class="card">
        <img src="../static/images/yoga.jpg"  style="width:100%">
        <div class="container">
          <h2>Yoga</h2>
          <p class="title">1 Month Unlimited @ 3800 INR</p>
          <p>Unlimited Yoga classes with music.</p>
          
          <p><button class="button"><a href="contact.html" style="text-decoration: none; color: aliceblue;">To know More - Contact</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../static/images/gym.jpg" alt="Gym" style="width:100%">
        <div class="container">
          <h2>GYM</h2>
          <p class="title">1 Month Unlimited @ 4000 INR</p>
          <p>Unlimited Gym classes with modern equipments.</p>
          <p><button class="button"><a href="contact.html" style="text-decoration: none; color: aliceblue;">To know More - Contact</a> </button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../static/images/aerobics.jpg" alt="Aerobics" style="width:100%">
        <div class="container">
          <h2>Aerobics</h2>
          <p class="title">1 Month unlimited @ 4800 INR</p>
          <p>Unlimited Aerobics classes with modern equipments.</p>
          <p><button class="button"><a href="contact.html" style="text-decoration: none; color: aliceblue;">To know More - Contact</a> </button></p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer strats here -->
     
<div class="footer-dark">
  

  <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
</div>
<p class="copyright">MeFitt &copy; 2022</p>

<!-- footer ends -->
</body>
</html>