<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/css/style_contact.css">
    <link rel="stylesheet"  href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MeFitt | Contact</title>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar">
        <a class="navlink" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a class="navlink" href="about"><i class="fa fa-fw fa-search"></i> Know More</a>
        <a class="active navlink" href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a class="navlink" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        <li class="logoimg"><a class="logo" href="#"><img class="logo" src="../static/images/logo.png"></a></li>
      </div>

    <h3>Contact Form</h3>

<div class="container">
  <form action="">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Select Course</label>
    <select id="country" name="country">
      <option value="australia">Yoga</option>
      <option value="canada">GYM</option>
      <option value="usa">Aerobics</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
  </div>
  <!-- footer strats here -->
     
<div class="footer-dark">
  

  <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
</div>
<p class="copyright">MeFitt &copy; 2022</p>

<!-- footer ends -->
</body>
</html>