<!DOCTYPE html>
<html lang="en">
<head>
<title>MeFitt | Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/style.css"/>
<link rel="stylesheet" href="../static/css/footer.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<style>

</style>
</head>
<body>

<!--Navbar start -->
<div class="container-fluid">
<div class="navbar">
    <a class="active navlink" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="navlink" href="about"><i class="fa fa-fw fa-search"></i> Know More</a>
    <a class="navlink" href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a class="navlink" href="login"><i class="fa fa-fw fa-user"></i> Login</a>
    <li class="logoimg"><a class="logo" href="#"><img class="logo" src="../static/images/logo.png"></a></li>
  </div>
<!-- navbar end -->

<!-- Landing Page content -->
  <div class="container">
    <div class="flex-caption">
      <h3>Perfection</h3>
      <p><b>Take care of your body</b></p>   
    </div>
    <button class="button"><span><a style="text-decoration: none;color:white" href="about">Click to Know More</a></span></button>
  </div>
</div>
     
    <div class="aligncenter">
    <h2 class="aligncenterh2">We Believe Little Things Matter</h2>
    <div class="row">
        <div class="column">
            
        </div>
        <div class="column">
            <p class="aligncenterp">The <b>MeFitt</b> is the Best Gym, offering state of the facilities that
                caters to every aspect of fitness for our members. If you are someone who desire the right
                approach to lose weight, build strength, improve stamina, and more importantly make fitness
                as a part of your lifestyle, we are there to help you achieve that goal.
                
                Our dedication to guide and support our members and our world class infrastructure has made
                us the best gym and fitness centre. Soon at various locations across India, we have created 
                an exquisite environment with top of the line facilities that covers every amenity you would 
                desire in your nearby gym.
                
                As you enter MeFitt, you get to experience luxury at its finest as you are greeted by our 
                team, whose expertise is there to help you achieve your fitness, weight and health goals. You have 
                an access to an open lounge area with a in-house restaurant serving delicious and healthy food, locker 
                and steam rooms, a dedicated changing facilities for men and women.</p>
                
        
                <p class="aligncenterp1">Are you looking out for the Top Gym, then look NO further.</p> 
                
                <p class="aligncenterp">The MeFitt is your best option to be FITTER than you ever imagined possible</p>
        </div>
        <div class="column">
          <img src="../static/images/main1.jpg" alt="gym" style="width:100%">
        </div>
      </div>      
    

</div>

<!-- footer strats here -->
     
<div class="footer-dark">
  

              <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
          </div>
          <p class="copyright">MeFitt &copy; 2022</p>
      
 <!-- footer ends -->









</body>
</html>
